body {
    background-color: rgb(255, 255, 255);
  }
  h1 {
    color: rgb(0, 0, 0);
  }

  #conta{
    color: rgb(81, 81, 84);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: right;
    padding-right: 1ch;

  }

  #resultado{
    color: rgb(255, 255, 255);
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
    text-align: right;
    padding-right: 1ch;

  }

  .calc{
    height:400px;
    width:265px;
    background-color: rgb(23, 23, 28) ;
    position:absolute;
    left: 300px;
    border: 3px solid #b9c7a6;
   
  }
  .button{
    background-color: rgb(46, 47, 56); 
    border: none;
    color: rgb(255, 255, 255);
    width: 50px;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    
    margin-bottom: 10px;
    border-radius: 10px
    
    
  }
  #azul{
    background-color: rgb(75, 94, 252); 
    color: rgb(255, 255, 255);

  }
  
  #cinzaclaro{
    background-color: rgb(78, 94, 95); 
    color: rgb(255, 255, 255);

  }

  #cinzaescuro{
    background-color: rgb(46, 47, 56); 
    color: rgb(255, 255, 255);
  }

   
  .button:hover {
    filter: brightness(1.2); 
  }

  #azul:hover {
    background-color: rgb(30, 70, 250);
  }

  #cinzaclaro:hover {
    background-color: rgb(100, 110, 110);
  }

  #cinzaescuro:hover {
    background-color: rgb(70, 70, 80);
  }

  .botaoBranco {
    width: 100px; 
    height: 5px;   
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    

    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
   
}

  #brancoBaixo{
    background-color: rgb(255, 255, 255); 
    color: rgb(255, 255, 255);

    width: 100px;
    padding: 3px 50px;
    text-align: center;
    position: center;
    display: inline-block;
    
    margin-left: 83px;
    
    padding-bottom: px;
    border-radius: 10px

  }